.logo img {
    height: 50px; 
}

.NavBar {
    display: flex;
    top: 0;
    left: 0;
}

/*Nav Bar*/
.NavBar{
    background-color: #333;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 2px 5px hsla(140, 74%, 43%, 0.1);
    align-items: center;
   
}
nav{
    flex-grow: 1; 
    margin-left: 20px;
    /*background-color: #333;*/
}

nav ul li {
    margin-left: 20px;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a:hover {
    background-color: #111;
}

/* "Get in Touch" Button*/
.ct-button {
    background-color: #1a366d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*margin-left: auto;*/
}

.ct-button a {
    color: white;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #112347;
}

/*Home Page*/
